<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="sidebar-header">
        <h2 class="logo">Fit.Fine</h2>
        <p class="user-name">{{ currentUser?.firstName }} {{ currentUser?.lastName }}</p>
        <p class="user-role">{{ currentUser?.role | titlecase }}</p>
      </div>

      <mat-nav-list class="nav-list">
        <a
          mat-list-item
          *ngFor="let item of menuItems"
          [routerLink]="item.route"
          routerLinkActive="active"
          [class.active]="activeRoute.startsWith(item.route)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </mat-nav-list>

      <div class="sidebar-footer">
        <button mat-button class="logout-btn" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

